<span class="label mar-bottom-10">Results last updated at: <%= current_meeting.first.updated_at.to_s(:time) rescue nil %></span>

<% current_meeting.each do |meeting| %>
  <% meeting.races.each_with_index do |race,i| %>
    <div class="race-row">
      <% has_horse = race.horses.map(&:likes).flatten.map(&:user_id).include?(current_user.id) %>
      <div class="race-header">
        <% if race.time.past? %>
          <span class="label upcase pull-right">Race Off</span>
        <% end %>
        <h2 class="race-number">Race <%= i +1 %></h2>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= race.time.strftime("%H:%M") %></p>
      </div>
      <% race.horses.order('created_at').each_with_index do |horse, i| %>
        <div class="horse-row">
          <div class="horse">
            <div class="number"><%= horse.program_number %></div>
            <div style="width: 100%;">
              <p>
                <% if horse.result && (horse.points(horse.result) > 0 rescue nil) %>
                  <span class="label pull-right result-<%= horse.result %>"><%= horse.result.capitalize %></span>
                <% end %>
                <span class="horse-name"><%= horse.name %></span><br />
                <%= "Form #{horse.form}" if horse.form %> <%= "T: #{horse.trainer}" if horse.trainer %> <%= "J: #{horse.jockey}" if horse.jockey %>
              </p>
              <%= "<span class='divide'></span>".html_safe if horse.likes.length > 0 %>
              <% horse.likes.each do |like| %>
                <span class="label"><%= User.find(like.user_id).username rescue nil %></span>
              <% end %>
            </div>
          </div>

          <div class="select">
            <% unless current_user.horses.include?(horse) %>
              <%= form_tag likes_path, class: 'like-form' do %>
                <%= button_tag "", :class => "btn-pick", id: 'like', disabled: has_horse || race.time.past? do %>
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                <% end %>
                <%= hidden_field_tag 'horse_id', horse.id %>
              <% end %>
            <% else %>
              <% like = horse.likes.where(:user_id => current_user.id).first %>
              <%= form_tag like_path(like), class: 'like-form', method: :delete do %>
                <%= button_tag "", class: "btn-pick selected", id: 'like' do %>
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                <% end %>
                <%= hidden_field_tag 'horse_id', horse.id %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
