<!-- Join code -->
<div class="notice">
  <h2>League Join Code</h2>
  <p>Give this code to people you want to join your league.</p>
  <p class="large"><span class="label"><%= current_league.first.join_code %></span></p>
</div>

<% current_meeting.each do |meeting| %>
  <%= meeting.racecourse %><br />
  <% meeting.races.each do |race| %>
    <% has_horse = race.horses.map(&:likes).flatten.map(&:user_id).include?(current_user.id) %>
    <%= race.time.to_s(:time) %><br />
    <% race.horses.each_with_index do |horse, i| %>
      <% unless current_user.horses.include?(horse) %>
        <div class="horse-row">
          <%= form_tag likes_path, class: 'like-form' do %>
            <p>
              <%= i +1 %> - <%= horse.name %>
              <% if horse.result.length > 0 %>
                <span class="label result-<%= horse.result %>"><%= horse.result.capitalize %> - <%= pluralize(horse.points(horse.result), 'point') if horse.points(horse.result) %></span>
              <% end %>
            </p>
            Form: <%= horse.form %> T: <%= horse.trainer %> J: <%= horse.jockey %>
            <% horse.likes.each do |like| %>
              <% horse.likes.each do |like| %>
                <span class="label"><%= User.find(like.user_id).username rescue nil %></span>
              <% end %>
            <% end %>
            <% unless has_horse %>
              <%= button_tag "", :class => "btn-pick", id: 'like' do %>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
              <% end %>
            <% end %>
            <%= hidden_field_tag 'horse_id', horse.id %>
          <% end %>
        </div>
      <% else %>
        <% like = horse.likes.where(:user_id => current_user.id).first %>
        <div class="unlike_button horse-row">
          <%= form_tag like_path(like), class: 'like-form', method: :delete do %>
            <p>
              <%= i +1 %> - <%= horse.name %>
              <% if horse.result.length > 0 %>
                <span class="label result-<%= horse.result %>"><%= horse.result.capitalize %> - <%= pluralize(horse.points(horse.result), 'point') if horse.points(horse.result) %></span>
              <% end %>
            </p>
            <%= button_tag "", class: "btn-pick selected", id: 'like' do %>
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            <% end %>
            <% horse.likes.each do |like| %>
              <% horse.likes.each do |like| %>
                <span class="label"><%= User.find(like.user_id).username rescue nil %></span>
              <% end %>
            <% end %>
            <%= hidden_field_tag 'horse_id', horse.id %>
          <% end %>
        </div>
      <% end %>

    <% end %>
  <% end %>
<% end %>
