<% unless current_meeting.nil? %>
  <ul class="switch middle">
    <li><a href="#card" class="selected">Card</a></li>
    <li><a href="#selections" class="fetch" data-url="/dashboard/fetch_selections">My Picks</a></li>
    <li><a href="#league" class="fetch" data-url="/dashboard/fetch_league">League</a></li>
    <li><a href="#join" class="fetch" data-url="/dashboard/fetch_league">Join</a></li>
  </ul>
<% end %>

<div class="well">
  <% if current_user && !current_league.empty? %>
    <div class="page-heading">
      <h2>
        <%= current_league.first.name %>
        <small><%= Meeting.find(current_league.first.meeting).racecourse %> - <%= Meeting.find(current_league.first.meeting).created_at.strftime("%d/%m/%Y") %></small>
      </h2>
    </div>
  <% end %>

  <% if current_meeting.nil? %>
  <div class="notice no-margin">
    <p>Not part of any placepots yet. Create a placepot or join an existing one.</p>
    <p>
      <%= link_to 'Create Placepot', new_league_path, class: 'button' %>
      <%= link_to 'Join Placepot', join_path, class: 'button' %>
    </p>
  </div>
  <% else %>
    <% unless current_meeting.nil? %>
      <!-- Picks -->
      <div class="tab active" id="card">
        <div id="picks">
          <%= render 'card' %>
        </div>
      </div>

      <!-- Selections -->
      <div class="tab" id="selections">
        <%= render 'selections' %>
      </div>

      <!-- League table -->
      <div class="tab" id="league">
        <%= render 'league_table' %>
      </div>

      <!-- Join -->
      <div class="tab" id="join">
        <%= render 'join' %>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $(document).on("submit", ".like-form", function(e) {
    e.preventDefault();
    var valuesToSubmit = $(this).serialize();
    $.ajax({
      type: "POST",
      url: $(this).attr('action'),
      data: valuesToSubmit,
      dataType: "script"
    });
  });

  $(".fetch").click(function() {
    $.ajax({
      type: "GET",
      url: $(this).data("url"),
      dataType: "script"
    });
    return false;
  });
</script>
