
<% unless @current_meeting.nil? %>
  <h2>League table</h2>
  <% @current_league.first.memberships.each do |member| %>
    <%= member.user.email %><br />
  <% end %>
<% end %>

<% if @current_meeting.nil? %>
  Not part of any placepots yet. <%= link_to 'Join Placepot', join_path %>
<% else %>
  <h2>Current Placepot</h2>
  <% @current_meeting.each do |meeting| %>
    <h1><%= meeting.racecourse %></h1>
    <% meeting.races.each do |race| %>
      <h4 style="margin-bottom: 0;"><strong><%= race.time.to_s(:time) %></strong></h4>
      <% race.horses.each do |horse| %>
        <% if current_user.liked? horse %>
        <%= link_to horse.name, unlike_horse_path(horse.id), remote: true,
        id: "like_#{horse.id}" %>
        <% horse.votes_for.up.by_type(User).voters.each do |voter| %>
          <%= voter.email %>
        <% end %>
        <br />
        <% else %>
        <%= link_to horse.name, like_horse_path(horse.id), remote: true,
        id: "like_#{horse.id}" %><br />
        <% end %>
        <!-- <div class="likes" id="likes_<%= horse.id %>"> <%= display_likes horse %> </div> -->
      <% end %>
    <% end %>
  <% end %>
<% end %>
