<% if current_meeting.nil? %>
  <div class="notice">
    <p>Not part of any placepots yet. Create a placepot or join an existing one.</p>
    <p>
      <%= link_to 'Create Placepot', new_league_path, class: 'button ghost' %>
      <%= link_to 'Join Placepot', join_path, class: 'button ghost' %>
    </p>
  </div>
<% else %>

  <ul class="switch middle">
    <li><a href="#pick" class="selected">Today</a></li>
    <li><a href="#selections">My Picks</a></li>
    <li><a href="#league">League</a></li>
    <li><a href="#old">My Leagues</a></li>
  </ul>

  <% unless current_meeting.nil? %>

    <p>Results last updated at: <%= current_meeting.first.updated_at.to_s(:time) rescue nil %></p>

    <!-- Picks -->
    <div class="tab active" id="pick">
      <div id="picks">
        <%= render 'pick' %>
      </div>
    </div>

    <!-- Selections -->
    <div class="tab" id="selections">
      <%= render 'selections' %>
    </div>

    <!-- League table -->
    <div class="tab" id="league">
      <%= render 'league_table' %>
    </div>

    <!-- Old Leagues -->
    <div class="tab" id="old">
      <%= render "my_leagues" %>
    </div>

  <% end %>
<% end %>

<script>
  $(document).on("submit", ".like-form", function(e) {
    e.preventDefault();
    var valuesToSubmit = $(this).serialize();
    $.ajax({
      type: "POST",
      url: $(this).attr('action'),
      data: valuesToSubmit,
      dataType: "script"
    });
  });
</script>
