<ul class="switch middle">
  <li><a href="#card" class="selected">Card</a></li>
  <li><a href="#selections" class="fetch" data-url="/dashboard/fetch_selections">My Picks</a></li>
  <li><a href="#league" class="fetch" data-url="/dashboard/fetch_league">League</a></li>
</ul>

<div class="well">
  <div class="page-heading">
    <h2>
      <%= @league.name %>
      <small><%= @meeting.racecourse %> - <%= @meeting.created_at.strftime("%d/%m/%Y") %></small>
    </h2>
  </div>

  <!-- Picks -->
  <div class="tab active" id="card">
    <%= render 'card' %>
  </div>

  <!-- Selections -->
  <div class="tab" id="selections">
    <%= render 'selections' %>
  </div>

  <!-- League table -->
  <div class="tab" id="league">
    <%= render 'league_table' %>
  </div>
</div>
