<div class="well">
  <div class="page-heading">
    <h2>
      <%= @league.name %>
      <small><%= @meeting.racecourse %> - <%= @meeting.created_at.strftime("%d/%m/%Y") %></small>
    </h2>
  </div>

  <% @meeting.races.each_with_index do |race,i| %>
    <div class="race-row">
      <% has_horse = race.horses.map(&:likes).flatten.map(&:user_id).include?(current_user.id) %>
      <div class="race-header">
        <h2 class="race-number">Race <%= i +1 %></h2>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= race.time.strftime("%H:%M") %></p>
      </div>
      <% race.horses.order('created_at').each_with_index do |horse, i| %>
        <div class="horse-row">
          <div class="horse">
            <div class="number"><%= horse.program_number %></div>
            <div style="width: 100%;">
              <p>
                <% if horse.result && (horse.points(horse.result) > 0 rescue nil) %>
                  <span class="label pull-right result-<%= horse.result %>"><%= horse.result.capitalize %></span>
                <% end %>
                <span class="horse-name"><%= horse.name %></span><br />
                <%= "Form #{horse.form}" if horse.form %> <%= "T: #{horse.trainer}" if horse.trainer %> <%= "J: #{horse.jockey}" if horse.jockey %>
              </p>
              <%= "<span class='divide'></span>".html_safe if horse.likes.length > 0 %>
              <% horse.likes.each do |like| %>
                <span class="label"><%= User.find(like.user_id).username rescue nil %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
