
  <% current_meeting.each do |meeting| %>
    <%= meeting.racecourse %><br />
    <% meeting.races.each do |race| %>
      <%= race.time %><br />
      <% race.horses.each do |horse| %>
        <% unless @user.horses.include?(horse) %>
          <!-- # Prob want to move this into a User instance method -->
          <!-- # Create a like form if the user does not have a like for this horse -->
          <%= form_tag likes_path do %>
            <%= hidden_field_tag 'horse_id', horse.id %>
            <!-- # Clicking this sends a request: POST /likes with params of: horse_id=123 -->
            <%= horse.name %> <%= submit_tag "Like this horse", :class => "like_button" %>
          <% end %>
        <% else %>
          <!-- # Find the like. I'll admit there is probably a better way to do this but it's getting past my bed time. -->
          <% like = horse.likes.where(:user_id => @user.id).first %>
          <!-- # Destroy the like associated with this horse and user -->
          <div class="unlike_button">
            <!-- # Clicking this sends a request to: DELETE /likes/123 -->
            <%= horse.name %> <%= link_to "destroy like", likes_path(like.id), :method => :delete %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
