<%= @tip.created_at.strftime("%d/%m/%Y") %><br />

<% @tip.horses.each do |horse| %>
  <%= horse.race.meeting.racecourse.strip %><br />
  <span class=""><%= horse.race.time.to_s(:time) %></span> - <span class=""><%= horse.name.strip %></span><br />
<% end %>

<%= link_to 'Edit', edit_tip_path(@tip) %>
